<div class="weather-wrapper card"> 
  <div class="front"> 
    <div>City:: {{ city }}</div>
  </div>
  <div class="back">
    <div>Temprature:: {{ temp }}</div>
    <div>Pressure:: {{ pressure }}</div>
    <div> Humidity:: {{ humidity }} </div>
    <div> Min Temprature:: {{ temp_min }} </div>
    <div> Max Temprature:: {{ temp_max }} </div>
  </div> 
</div>